<!DOCTYPE html>
<html>
<head><% render 'theme/' + (item[:theme] || 'default') %>
  <meta http-equiv="content-type" content="text/html;charset=utf-8"> 
  <title><%=h (item[:title] || '') %></title>

  <!-- style sheet links -->
  <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' media="projection" type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' media="projection" type='text/css'>
  <meta name="copyright" content="<%= item[:copyright] || 'CC BY 3.0' %>" /> 
  <% if item[:duration] %>
  <meta name="duration" content="<%= item[:duration] %>" />
  <% end %>

  <link rel="stylesheet" type="text/css" media="screen, projection, print"
        href="../stylesheets/slidy.css" />
  <%= item[:content_for_theme_stylesheets] %>
  <script src="../scripts/slidy.js"></script>
</head>

<body>

<%= item[:content_for_theme_background] %>

<%= yield %>

<% item.children.sort_by(&:identifier).each do |slide| %>
<%= slide.compiled_content(:snapshot => :last) %>
<% end %>

<script type="text/javascript">
// for ipad
var body = document.getElementsByTagName('body')[0];
body.addEventListener('touchstart', function(e) {
  this.startX = e.touches[0].pageX;
}, false);
body.addEventListener('touchmove', function(e) {
  if (this.startX != null && e.touches.length == 1) {
    var delta = e.touches[0].pageX - this.startX;
    if (delta < -100) {
      this.startX = e.touches[0].pageX;
      w3c_slidy.next_slide(false);
      e.preventDefault();
    } else if (delta > 100) {
      this.startX = e.touches[0].pageX;
      w3c_slidy.previous_slide(false);
      e.preventDefault();
    }
  }
}, true);
</script>
</body>
</html>
